.container{
    width: 80%;
    margin: auto;
}

.box-1{
    background-color: rgb(37, 37, 37);border-left: 10px red solid;
    color: whitesmoke;
    padding: 10px;

}

.branches{
    border:5px solid #ccc ;
    padding: 10px;
    border-radius: 15px;
    margin: auto;
}

.block{
    float: right;
    width: 20.3%;
    border: 4px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
}

